<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/popuo-box.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="icon" th:href="@{/images/logo_training.jpg}" type="image/x-icon">
</head>
<body>

    <h1>TASK MANAGEMENT</h1>
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>
    <div class="w3layoutscontaineragileits">
        <h2>Login</h2>

        <form th:action="@{/admin/login}" method="post">
            <input type="email" name="username" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <div th:if="${param.error}">
                <div class="danger-error">Email or Password is incorrect!</div>
            </div>

            <ul class="agileinfotickwthree">
                <li>
                    <input type="checkbox" id="brand1" value="">
                    <label for="brand1"><span></span>Remember me</label>
                    <!-- <a href="#">Forgot password?</a> -->
                </li>
            </ul>

            <div class="aitssendbuttonw3ls">
                <input type="submit" value="LOGIN">
            </div>

            <div class="registerbuttonw3ls">
                <a href="/admin/register" class="w3lsbutton">Not a member? Register here</a>
            </div>
            </div>
        </form>
    </div>

</body>
</html>
